<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/new_app :: ~{html} (content = ~{::content})}">

<body>
	<div th:fragment="content">
        <div class="container mt-4">
            <h1>รายชื่อสมาชิกชมรม</h1>
            <hr>
            
            <div th:if="${users.isEmpty()}">
                <div class="alert alert-info">ยังไม่มีสมาชิกในระบบ</div>
            </div>
            
            <div th:if="${!users.isEmpty()}" class="table-responsive">
                <table class="table table-striped table-hover">
                     <thead style="background-color: white;">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th>รหัสนักศึกษา</th>
                            <th>ตำแหน่ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.studentid}"></td>
                            <td>
								<span class="badge text-black bg-transparent border-0"
								      th:text="${user.role.name()}">
								</span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>